{% extends "frame.html" %}

{% block title %} Infoskjerm {% endblock %}

{# make the main block perfectly centered, and the contents inside horizontally centered #}
{% block extra_head %}
<style>
  body {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100vh;
    background: black;
    background-opacity: 0.2;
    color: white;
  }
  main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  h1 {
    font-size: 20em;
  }
  p {
    font-size: 10em;
  }
</style>
{% endblock %}

{% block body %}
<main>
  <h1 class="px-80">{{ queue.name }}</h1>
  <p id="text">{{ queue.info_text }}</p>
</main>
{% endblock %}
{% block script %}
<script>
  setInterval(() => {
    fetch("/info/queue/{{ queue.id }}/data")
      .then(response => response.text())
      .then(text => document.getElementById("text").innerHTML = text);
  }, 5000);
</script>
{% endblock %}
