{% extends "base.html" %}
{% load bootstrap5 %}

{% block title %} Hjem {% endblock %}

{% block content %}
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">{{ queue }}</h1>
    <a href="/queue/{{ queue.id }}" class="btn btn-sm btn-secondary">Gå tilbake</a>
</div>

<main class="container py-3" style="width: 400px;">
  <form method="post">
    {% csrf_token %}
    {% bootstrap_form form %}
    {% buttons %}
      <button type="submit" class="btn btn-primary">Legg til i køen</button>
    {% endbuttons %}
  </form>
</main>
{% endblock %}

{% block script %}
<script>
  document.getElementById("id_name").focus();
</script>
{% endblock %}
