{% extends "base.html" %}

{% block title %} Hjem {% endblock %}

{% block content %}
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">SHqueue</h1>
</div>

  <p>SHqueue system, åpenbart uttalt som <i>"sasquash"</i>, er et køsystem for å holde orden og oversikt over hvem som venter på å spille et spill. Det gjør det enkelt for crew å holde oversikt, og det gjør det enkelt å koble det opp mot andre systemer som f.eks. infoskjermene.</p>

  <h2>Kom i gang</h2>

  <p>På venstresiden så ser du de ulike spillene som er satt opp. Her kan du også se hvor mange som er i kø og hvor lang ventetid det er estimert på hvert spill. Når du klikker inn på et spill så kan du aktivere og deaktivere, du kan tømme køen og du kan legge til en deltaker i køen. Du kan også starte en person sitt spill, dette vil da starte en nedtelling som også påvirker ventetiden. Du kan også fjerne en deltaker fra køen, for eksempel hvis de ikke vil vente lenger.</p>

  <p>Hvis du vil ha et spill lagt til her så må du spørre en i Systemstøtte om å legge dette til.</p>

  <p>Husk at SHqueue er ikke tilgjengelig for deltakere, dette er et internt system for crew. Men det er ikke farlig å vise systemet til deltakere.</p>

  <p>Laget av deres kjære Glenn. ❤️</p>
{% endblock %}
